.DS_Store
Thumbs.db
*.swp
*.swo
*~
.idea/
.vscode/
!.vscode/extensions.json
node_modules/
.npm/
.cache/
.tmp/
.sass-cache/
tmp/
.lighthouseci/
.pa11y-report.*
coverage/
dist/
build/
*.log
.env
.env.*
!.env.example
